body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    background-color: rgb(44, 41, 38);
}

a {
    text-decoration: none;
}


#main-header {
    background-color: #1C1919;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    width: 100%;
    height: 5rem;
    box-sizing: border-box;
    top: 0;
    left: 0;
}

#logo {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5rem;

}

#main-header a {
    color: #AA6836;
    font-weight: 700;
    font-size: 24px;
}

#main-header nav a {
    font-size: 1.25rem;
}

#main-header nav a:hover {
    color: #ce7632;
}


#main-header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 15px;
    display: flex;
}

#main-header li {
    margin: 0 1rem;

}

main {
    /* background-color: #282522; */
    color: #AA6836;
    padding: 8px;
}

main h1 {
    text-align: center;
    font-size: 3rem;
}

#latest-products {
    width: 80%;
    margin: 2rem auto;
}

#latest-products ul {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding: 0;
    margin: 0;
}

.food-item {
    background-color: rgb(228, 206, 182);
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
}

.food-item img {
    height: 15rem;
    width: 100%;
    object-fit: cover;
}

.food-item h2 {
    margin: 0 0 1rem 0;
}

.food-item-contents {
    padding: 1rem;
    text-align: center;
}

.btn {
    color: #fff;
    padding: 0.5rem 1.5rem;
    background-color: #EB9428;
    border-radius: 4px;
}

.btn:hover {
    background-color: #f89721;
}

.menu-btn {
    display: none;
}


#side-drawer {
    width: 100%;
    height: 100%;
    background-color: rgb(28, 28, 25);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
}

#side-drawer header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 10%;
    width: 100%;
    height: 5rem;
    box-sizing: border-box;
    top: 0;
    left: 0;
}

#side-drawer:target {
    display: block;
}

#side-drawer ul {
    list-style: none;
    text-align: center;
    display: flex;
    margin: 0;
    padding: 4rem 1rem;
    flex-direction: column;
    align-items: center;
}

#side-drawer li {
    margin: 1rem 0;
}

#side-drawer a {
    font-size: 2rem;
    color: rgb(253, 239, 213);
}

@media (max-width:48rem) {
    header nav {
        display: none;
    }

    main h1 {
        font-size: 1.5rem;
    }

    .menu-btn {
        width: 3rem;
        height: 3rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .menu-btn span {
        width: 100%;
        height: 3px;
        background-color: #ce7632;
    }


    #latest-products ul {
        grid-template-columns: 1fr;
    }
}